/* LINGUAGEM DE MARCAÇÕES COM CSS
TEXTO MAIS BONITO*/
* {/*TUDO QUE FOR COLOCADO DENTRO DESSA CHAVE VAI SER APLICADO EM TUDO*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*background: rgb(233, 233, 13);*/
    background-image: url(Imagens/fundo2.jpg);
    background-size: auto 100vh;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }

}
header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white; /*PROPRIEDADE MAIS ESPECIFICA*/
    position: fixed;
    width: 100vh;
    top: 0; /*SO FUNCIONA COM FLEX */
}
.menu ul {
    display: flex; /*UM ELEMENTO DO LADO DO OUTRO */
    justify-content: space-around;/*COLOCA UM ESPAÇO IGUAL AO REDOR DOS LINKS*/
}    
.menu li {/*SELETOR DE HIERARQUIA*/
    list-style: none;
}
.menu a {
    
    display: block;
    padding: 10px;

}
a {
    color: teal;
    text-decoration: none;
}
a:hover {/*PSEUDOCLASS ESPAÇO IMPORTA */
    text-decoration: underline;
}
.site-subtitle,/*PEGANDO AS MESMAS CARACTERISTICAS PARA AS DUAS CLASSES */
.site-title {
    /*ESCREVER PROPRIEDADES EM ORDEM ALFABETICA*/
    color: black;
    text-align: center;
}
.site-subtitle {
    font-style: italic;
}
.img-portfolio {
    height: 180px;
    width: 180px;
}