/* LINGUAGEM DE MARCAÇÕES COM CSS
TEXTO MAIS BONITO*/
* {/*TUDO QUE FOR COLOCADO DENTRO DESSA CHAVE VAI SER APLICADO EM TUDO*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ffffff;
    /*background-image: url(Imagens/fundo2.jpg);*/
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
}
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }

}
header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: linear 2s animacaoTitulo forwards;
}
@keyframes animacaoTitulo {

    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}
.menu {
    background-color: #ffffff; /*PROPRIEDADE MAIS ESPECIFICA*/
    position: fixed;
    width: 100vh;
    top: 0; /*SO FUNCIONA COM FLEX */
    z-index: 1;
}
.menu ul {
    display: flex; /*UM ELEMENTO DO LADO DO OUTRO */
    justify-content: space-around;/*COLOCA UM ESPAÇO IGUAL AO REDOR DOS LINKS*/
}    
.menu li {/*SELETOR DE HIERARQUIA*/
    list-style: none;
}
.menu a {
    
    display: block;
    padding: 10px;
    transition: background-color 0.8s;

}
.menu a:hover {
    background-color: rgb(211, 208, 208);
}
a {
    color: black;
    text-decoration: none;
    border-radius: 2cm;
}
.site-subtitle,/*PEGANDO AS MESMAS CARACTERISTICAS PARA AS DUAS CLASSES */
.site-title {
    /*ESCREVER PROPRIEDADES EM ORDEM ALFABETICA*/
    color: black;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}
.site-subtitle {
    font-style: italic;
    /*font-family: 'Press Start 2P', cursive;*/
    line-height: 0.8;
}
.portifolio {
    padding: 2em;
    min-height: 100vh;

}

.portifolio h2 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding: 0em;
    margin-bottom: 1em;
}
.portifolio .grid {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    grid-template-rows: 240px 240px;
    height: 100bh;
}
@media(min-width: 560){
    .portifolio .grid {
        grid-template-columns: 240px 240px 240px;
    }
}
.portifolio figure{
    text-align: center;
}
.img-portfolio {
    height: 180px;
    width: 180px;
    object-fit: cover;
    object-position: left bottom;
    border-radius: 50%;
    transition: transform 500ms;
}
.img-portfolio:hover { 
    transform: scale(1.2);
}
.contato a {
    color: black;
    font-size: 3em;
    
}
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px gray;
}
.contato {
    min-height: 20vh
}
.contato .icons{
    text-align: center;
}